header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-right: 7rem;
}

footer {
  position: fixed;
  left: 50%;
  bottom: 4rem;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: 600;
}
footer span {
  color: rgb(233, 233, 233);
}

.btn {
  width: 40%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow: -1px -1px 3px white;
  border: none;
  border-radius: 40px;
}

#btnContainer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.progressCircle {
  padding: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 0px solid transparent;
  background: conic-gradient(
    #d20094 0%,
    #d20094 0%,
    #00ffff 100%,
    #00ffff 100%
  );
  box-sizing: content-box;
}

.progressionBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(/assets/img/bg.jpg);
  background-position: right;
  background-position-y: top;
}

.btnSelected {
  background-color: #bc008b;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 4rem;
}

.title h3 {
  font-size: 3.5em;
  width: 60%;
}

.violet {
  color: #d20094;
}

#sectionBtn {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
