

  .logo {
    width: 15%;
    height: auto;
    margin: 0 auto;
    padding-inline-start: 1em;
    padding-block: 30px;
}

.centerText {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family: "Outfit", sans-serif;

}

  p {
    text-align: center;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    margin-block: 2em;
  }

 #btnInfo {
    margin-top: 20px;
 }

 #comment {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #D20094;
    width: 400px;
    padding: 7px;
 }

 #comment::placeholder {
    padding-left: 20px;
   
 }

 #comment:focus {
    color: white;
    border: paleturquoise 1px solid;
    
 }





  