* {
  font-family: "Times New Roman", Times, serif;
  color: white;
}

body {
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bold {
  font-weight: bold;
}

.btnBlueNeon {
  width: 200px;
  
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;

  color: black;
  background-color: #00ffff;
  box-shadow: 0 0 40px 5px #00ffff;
  border: 1px solid transparent;
}

.center {
  text-align: center;
}

.logo {
  width: 15%;
}

.marginLeft {
  margin-left: 7rem;
}
