@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  color: white;
}

body {
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bold {
  font-weight: bold;
}

.btnBlueNeon {
  cursor: pointer;
  width: 200px;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  color: black;
  background-color: #00ffff;
  box-shadow: 0 0 20px 5px #00ffff;
  border: 1px solid transparent;
}

.center {
  text-align: center;
}

.logo {
  width: 15rem;
  margin-top: 3rem;
}

.logoNoMargin {
  width: 15rem;
}

.marginLeft {
  margin-left: 7rem;
}
