@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
:root {
  --color-text: rgb(233, 233, 233);
}
/* Impostazioni globali */
* {
  user-select: none;
}
body {
  margin-top: 1.5rem;
  margin-left: 3rem;
  color: white;
  text-align: center;
  box-sizing: content-box;
}
header {
  margin-bottom: 2rem;
  text-align: justify;
}
.logo {
  margin-left: 7rem;
}
#title-results h3 {
  font-size: 4em;
  font-weight: 700;
}
#title-results p {
  font-weight: 200;
  font-size: 2em;
  margin-bottom: 3vw;
}
/* Progress circle */
.progress-circle {
  padding: 50px;
  height: 240px;
  width: 255px;
  border-radius: 50%;
  border: 0px solid transparent;
  background: conic-gradient(
    #d20094 0%,
    #d20094 calc(1% * (100 - var(--correct-percent))),
    #00ffff calc(1% * (100 - var(--correct-percent))),
    #00ffff calc(1% * (100 - var(--correct-percent)))
  );
  box-sizing: content-box;
}
.progress-bar {
  border-radius: 50%;
  height: 240px;
  width: 255px;
  background-image: url(/assets/img/bg.jpg);
  background-position: center;
}
/* Testo circle */

.progress-bar h3,
h4 {
  margin-top: 21%;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 1.1em;
  font-weight: 800;
}
.progress-bar h4 {
  margin-top: 0px;
  color: #00ffff;
  font-weight: 400;
}

.progress-bar > p:first-of-type {
  margin-top: 15px;
}
.progress-bar p {
  margin-right: 10%;
  margin-left: 10%;
  color: var(--color-text);
  font-size: 1.1em;
  font-family: "Outfit";
  font-weight: 200;
}
/* Altri elementi */
.progress-bar,
#correct,
#wrong {
  display: inline-block;
}

#btn-section button {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3em;
  height: 4vw;
  width: 13vw;
  color: white;
  margin-top: 3vw;
  border: 2px solid white;
  background: transparent;
  color: var(--color-text);
  margin-bottom: 3vw;
}
#btn-section button:hover {
  color: #ffffff;
  transform: scale(1.01);
}

#correct {
  text-align: left;
}
#wrong {
  text-align: right;
}

#correct h3,
#wrong h3 {
  font-size: 3.3em;
}
#correct > p:first-of-type {
  font-size: 3em;
  font-weight: bold;
}
#correct > p:last-of-type {
  color: var(--color-text);
  font-size: 1.1em;
  font-weight: 200;
}
#wrong > p:first-of-type {
  font-size: 3em;
  font-weight: bold;
}
#wrong > p:last-of-type {
  color: var(--color-text);
  font-size: 1.1em;
  font-weight: 200;
}
#wrong {
  opacity: 0.8;
}

#title-results {
  opacity: 0.9;
}

#rating {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#question-container {
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-items: center;
}

details {
  padding-bottom: 40px;
  text-align: justify;
  width: 50%;
  border-bottom: 2px solid #d20094;
  margin-bottom: 50px;
}

ul li {
  width: 50%;
  font-size: 0.9em;
  margin-top: 30px;
  margin-left: 30px;
  list-style-type: circle;
  opacity: 0.6;
}

.check {
  background-image: url(/assets/img/check.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  list-style-type: circle;
  background-size: 25px;
  background-position-x: right;
  background-position-y: top;
  box-sizing: border-box;
}
.error {
  background-image: url(/assets/img/x.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  list-style-type: disc;
  background-size: 25px;
  background-position-x: right;
  background-position-y: top;
  box-sizing: border-box;
}

.userSelectVuoto {
  list-style-type: circle;
}
.userSelectPieno {
  list-style-type: disc;
}
