body {
  color: white;
  margin-top: 5vw;
  margin-top: 1.5rem;
  margin-left: 3rem;
}

#all-select {
  text-align: center;
}
#difficulty,
#number {
  width: 25%;
  font-size: 1.2em;
}
#difficulty option,
#number option {
  background-color: rgba(216, 216, 216, 0.3);
  color: black;
  margin-right: 50%;
}

#difficulty,
#number {
  background-color: transparent;
  text-align: center;
  color: white;
  border: none;
  border-bottom: 2px solid #d20094;
  width: 40vw;
  padding: 10px;
}
#choose-number {
  margin-top: 4vw;
}
#all-select button {
  margin-top: 5vw;
  font-weight: bold;
  font-size: 1.2em;
}
