body {
    background-image: url("assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 20px 100px;
    font-size: 20px;
  }
  header {
    padding: 50px 0;
  }
  header img {
    width: 15%;
  }
  .main-title h1 {
    font-size: 100px;
    font-weight: 300;
    line-height: 1;
  }
  h1 span {
    font-weight: bold;
  }
  .snd-title h3 {
    color: #d20094;
    font-size: 40px;
    padding-bottom: 1px;
    margin: 5px;
  }
  .snd-title p {
    font-size: 20px;
  }
  .list {
    padding: 20px 0;
  }
  .list ul {
    line-height: 1.5;
  }
  .list li span {
    font-weight: bold;
  }
  .start-ex {
    padding: 100px 0;
    margin-right: 200px;
  }
  .container {
    width: 1200px;
    padding: 20px 0;
  }
  .cr-wrapper *,
  .cr-wrapper *::before,
  .cr-wrapper *::after {
    box-sizing: content-box !important;
  }

  .cr-wrapper input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .cr-wrapper span {
    font-size: 25px;
  }

  .cr-wrapper {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .cr-wrapper input[type="checkbox"] ~ .cr-input {
    position: absolute;
    top: 50%;
    left: 0;
    height: 27px;
    width: 27px;
    background: transparent;
    transition: background 250ms;
    border: 3px solid #f1f5f9;
    border-radius: 0px;
    transform: translate(0, -50%);
  }

  .cr-wrapper input[type="checkbox"] ~ .cr-input::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 3px;
    width: 20px;
    height: 20px;
    transition: background 250ms;
    background-color: #ffffff;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  .cr-wrapper input:checked ~ .cr-input::after {
    display: block;
  }

  .cr-wrapper:hover input[type="checkbox"]:not([disabled]) ~ .cr-input,
  .cr-wrapper input[type="checkbox"]:focus ~ .cr-input {
    background: #e2e8f0;
    border-color: #64748b;
  }

  .cr-wrapper:hover input[type="radio"]:not([disabled]) ~ .cr-input,
  .cr-wrapper input[type="radio"]:focus ~ .cr-input {
    background: #e2e8f0;
    border-color: #64748b;
  }

  .cr-wrapper input[type="checkbox"]:checked ~ .cr-input {
    background: #40a9bf;
    border-color: #000000;
  }

  .cr-wrapper input[type="radio"]:checked ~ .cr-input {
    background: #40a9bf;
    border-color: #000000;
  }

  .cr-wrapper input[type="checkbox"]:disabled ~ .cr-input,
  .cr-wrapper input[type="radio"]:disabled ~ .cr-input {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .cr-wrapper input[type="checkbox"]:disabled ~ span,
  .cr-wrapper input[type="radio"]:disabled ~ span {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .cr-wrapper input[type="checkbox"]:disabled ~ .cr-input::after {
    background: #ffffff;
  }

  .cr-wrapper input[type="radio"]:disabled ~ .cr-input::after {
    background: #ffffff;
  }

  .cr-wrapper:hover
    input[type="checkbox"]:not([disabled]):checked
    ~ .cr-input,
  .cr-wrapper input[type="checkbox"]:checked:focus ~ .cr-input {
    background: #2f7d8e;
    border-color: #225d69;
  }

  .cr-wrapper:hover input[type="radio"]:not([disabled]):checked ~ .cr-input,
  .cr-wrapper input[type="radio"]:checked:focus ~ .cr-input {
    background: #2f7d8e;
    border-color: #225d69;
  }